#ignore thumbnails created by windows
Thumbs.db
#ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.dotCover
*.ReSharper
packages
Deploy/_ReleasePack/*
_TeamCity.RealTimeBidding/
src/ServiceDeploy
#ignore python compiled
*.pyc
#mongodata
mongoDB/Data/
Nuget_Build
bin35
src/.nuget/NuGet.exe
PackageUploaderFiles
ReleasePack
BuildAndDeployment/ReleasePackService
BuildAndDeployment/ReleasePacks
BuildAndDeployment/Version.ini
*.ncrunchproject
*.ncrunchsolution
.vs
*.idea
*nCrunchTemp*